/**
 * Menu container
 */
.menu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: none;
    display: table;
    z-index: 0;
    /*transform: translateY(-100%);*/
    transition: transform 0.3s ease-in-out;
}

.menu.active {
    /*transform: translateY(0%);*/
    background-color: rgba(211, 211, 211, 0.8);
    z-index: 400;
}

.menu ul {
    width: 100%;
    padding: 5px;
    display: table-cell;
    vertical-align: middle;
}
.menu li {
    list-style: none;
    padding: 20px 0;
    text-align: center;
    font-size: 60px;
    color: #333;
    cursor: pointer;
}
.menu li:hover,
.menu li.fetching {
    background-color: #333;
    color: #eee;
}

/* fetching status */
@keyframes flashing {
    from {transform: rotate(0deg);}
    to   {transform: rotate(360deg);}
}

.menu li.fetching {
    animation: flashing 0.8s infinite;
}

/**
 * 3 line menu icon
 */
.bar_container {
    position: fixed;
    top: 20px;
    right: 20px;
    width: 24px;
    height: 24px;
    z-index: 500;
    cursor: pointer;
}

.bar {
    width: 24px;
    height: 4px;
    margin-top: 10px;
    transition: all 0.3s;
    background-color: #ec008c;
}

.bar::before, .bar::after {
    content: '';
    width: 24px;
    height: 4px;
    background-color: #ec008c;
    position: absolute;
    transition: all 0.3s;
}

/* Normal status */
.bar::before {
    top: 2px;
}


.bar::after {
    top: 18px;
}

/* Hover status */
.bar:hover::before {
    top: 1px;
}

.bar:hover::after {
    top: 19px;
}

/* After Click, transition to X icon */
.bar.active {
    background: none;
}
.bar.active::before {
    top: 10px;
    transform: rotate(-45deg);
}
.bar.active::after {
    top: 10px;
    transform: rotate(45deg);
}
